{% extends 'base.html' %}

{% block body %}

<a href="{% url 'main2:task_create' %}" class="btn btn-primary">ADD new task</a>

<h1>Task List</h1>

<ul class="list-group">
    {% for task in tasks %}
    <table class="table table-dark">
        <tr>
            <td>
                <h4><a href="{% url 'main2:task_detail' task.id %}">{{ task.name}}</a></h4>
            </td>
            <td>
                <h4>{{task.email}}</h4>
            </td>
            <td>
                <h4>{{task.due_on}}</h4>
            </td>
        </tr>
    </table>
    <li class="list-group-item">
        <div>
            <h5>Created by: {{ task.created_by }}</h5>
        </div>
        <!--{% if user is task.created_by %}-->
        <div class="actions text-right">
            <a class="btn btn-info" href="{% url 'main2:task_update' %}">Update</a>
            <a class="btn btn-info" href="{% url 'main2:task_delete' %}">Delete</a>
        </div>
        <!--{% endif %}-->
    </li>
    {% endfor%}
</ul>
{% endblock %}