{% extends 'base.html' %}

{% block body %}
<hr>
   <h1>Completed tasks in "List 1"</h1>
<table>
    <tr>
        <form action="{%url 'order_by' 'name_t' %}">
            {% csrf_token %}
            <td><button class = "filter">Task</button></td>
        </form>
        <form action="{%url 'order_by' 'created' %}">
            {% csrf_token %}
            <td>Created Time</td>
        </form>
        <form action="{%url 'order_by' 'dueon' %}">
            {% csrf_token %}
            <td>Due On</td>
        </form>
        <form action="{%url 'order_by' 'owner' %}">
            {% csrf_token %}
           <td>Owner</td>
        </form>
        <form action="{%url 'order_by' 'mark' %}">
            {% csrf_token %}
            <td>Mark</td>
        </form>
    </tr>
    {% for t in Task %}
    <tr>

        <td style="color:#5086EB;">{{t.name_t}}</td>
        <td>{{t.created}}</td>
        <td>{{t.dueon}}</td>
        <td>{{t.owner.name}}</td>
        <td><button class = "done">Done</button></td>
    </tr>
    {%endfor%}
</table>
<br>
<form action="{%url 'todos' %}" method="post">
    {% csrf_token %}
    <button class = "button2">View all tasks</button>
    <button class = "button3">Delete This List</button>
</form>

{% endblock %}