<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task detail</title>
</head>
<body>
    <form action="{% url 'task_detail' task_id %}" method="POST">
        {% csrf_token %}
        <div>Task id: {{ task.task_id }}</div>
        <div>Task name: {{ task.name_t }}</div>
        <div>Task created: {{ task.created }}</div>
        <div>Task due: {{ task.dueon }}</div>
        <div>Task owner: {{ task.owner }}</div>
        <div>Task mark: {{ task.mark }}</div>
        <button type = "submit">Delete this task</button>
    </form>
</body>