{% extends 'base.html' %}
{% block body %}
<form action="{%url 'add' %}">
    {% csrf_token %}
    <button class = "button1">Add Task</button>
</form>
<hr>
<h1>Tasks in "List 1"</h1>
<table>
    <tr>
        <form action="{%url 'order_by' 'name_t' %}">
            {% csrf_token %}
            <td><button class = "filter">Task</button></td>
        </form>
        <form action="{%url 'order_by' 'created' %}">
            {% csrf_token %}
            <td>Created Time</td>
        </form>
        <form action="{%url 'order_by' 'dueon' %}">
            {% csrf_token %}
            <td>Due On</td>
        </form>
        <form action="{%url 'order_by' 'owner' %}">
            {% csrf_token %}
           <td>Owner</td>
        </form>
        <form action="{%url 'order_by' 'mark' %}">
            {% csrf_token %}
            <td>Mark</td>
        </form>
        <td>Activity </td>
    </tr>
    {% for task in Task %}
    <tr>
        <td style="color:#5086EB;">{{task.name_t}}</td>
        <td>{{task.created}} </td>
        <td>{{task.dueon}}</td>
        <td><a href="{%url 'detail' task.owner.id%}">{{task.owner.name}}</a></td>
        <td><form action="{% url 'done' task.id %}">
            <button class = "done">
            {%if task.mark %}
                Done
            {%else%}
                Not Done
            </button>
            {%endif%}
            </form>
        </td>
        <td> <a href="{% url 'delete' task.id %}">
                <button class = "button3">Delete</button>
             </a>
        </td>

    </tr>
 {% endfor %}
</table>
<br>
    <a href="{% url 'completed' %}"><button class = "button2">View Completed tasks</button></a>

{% endblock %}